<h3>CategoriaListar</h3>

@code {
<table>
    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Terror</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Supense</td>
    </tr>

</table>
}
